/*Colors used:
Primary color (White): #ffffff
Secondary color (Dark-Grey): #635D64
Secondary color (Light-Grey):#D5D4D6
Secondary color (Purple): #81005B
Secondary color (Bright-Purple): #EA00A5
Secondary color (Black): #000000
Hyperlink color (Blue): blue */


body{
  background-color: #ffffff;
  font-family: 'Lato', sans-serif; /*If Lato is unavailable it will default to the system's sans-serif font*/
  font-size: 16px; /*Sets the font size to 16px*/
  font-weight: 300;
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  line-height:1;
  color: 000000
}

h1{
  font-size: 3.5em;
}

h2{
  font-size:2.5em;
}

h3{
  font-size: 1.75em;
}

h4{
  font-size: 1.4em;
}

img {
  width: 100%;
}

a {
  color: blue;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #635D64;
}
a:hover,
a:focus {
  color: #81005B;
  text-decoration: none; /* Used to be underlined but didn't like that */
}
a:active { /* selected link */
  color: blue;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #81005B;
 text-transform: uppercase;
  color: white; /* needed to override the default link color */
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #81005B; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:visited{
      color: #ffffff
}

.button:active {
    color: #81005B
}
.button.contact {
  background-color: transparent;
 color: black;
 text-transform: uppercase;
 border: 2px solid #81005B;
}
.button.contact:hover {
  background-color: ffffff;
  color: #81005B;
}
.button.contact:active {
  background-color: #ff7f50;
color: #994c30;
}

/*Question for Becca: When do you use a dot vs a hyphen in class names? For example button.contact vs. button-secondary. */
/*Question for Becca: Why do you have to use a dot before some things on CSS stylesheet and not other times?*/

/* Layout styling */

*{
  box-sizing:border-box
}

.container{
  padding: 0 15px;
}

.row{
  margin: 25px, 0; /* 25px top and bottom, 0 left and right */
}

#work .row {padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;}

#hero h1 {
  text-align: center; /* Centers text - Question, why is there not a dot before h1 here? */
}

.center{
  text-align: center;
}

.logo{
  max-width: 80px;
  text-align: center; /* This doesn't seem to center the image of the logo ?? */
}

header{
  text-align: center;
    background-color: #D5D4D6;
  padding: 10px 0;
box-shadow: 4px 2px 6px 0px rgba(50, 50, 50, 0.75);
position: fixed;
width: 100%;
}

nav > ul { /* Why is the forward carrot/arrow used here instead of a dot or dash? */
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

main {
  padding-top: 150px;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  width: 50px;
  margin: 0 10px;
}

/* MEDIA QUERIES */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {text-align: unset;
padding: 20px 0 13px;}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

#hero span {
  display: block;
}

.col-md-6 { /* Stands for column, medium screen size, 6 column span (grid layout out of 12 columns)*/
  width: 50%;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-7 {
  width: 60%
}

.col-lg-5 {
  width: 40%
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

[class*="col-"]{
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#berlin.picture {
  width: 100%, max-width 100%, height: auto
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 15s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}
